.container {
  padding-bottom: 5rem;
  background: #112B3C;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.presentationText {
  font-size: 1.4rem;
  text-shadow: 2px 2px #0b1c27;
}
.presentationText::selection {
  background-color: #eeeeee;
  color: #0b1c27;
  text-shadow: initial;
}
.name {
  color: #F66B0E;
  font-weight: 600;
}
.name::selection {
  background-color: #eeeeee;
  color: #F66B0E;
}
.photoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 2rem;
}
.photo {
  position: relative;
  height: 20rem;
  width: 100%;
  max-width: 30rem;
  background-color: #eeeeee;
  box-sizing: border-box;
}
.profilePhoto {
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center center;
  border: solid 2px #eeeeee;
  border-radius: 2rem;
}
.description {
  position: relative;
  background-color: transparent;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.descriptionText::selection {
  background-color: #eeeeee;
  color: #0b1c27;
}
.descriptionContainer {
  box-sizing: border-box;
  width: 100%;
  max-width: 30rem;
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #0b1c27;
  border: solid 2px #eeeeee;
  position: relative;
  display: flex;
  justify-content: center;
}
.descriptionButtonContainer {
  position: absolute;
  bottom: -1.5rem;
  border-radius: .5rem;
}
.descriptionButton {
  height: 3rem;
  width: 9rem;
  border-radius: .5rem;
  color: #eeeeee;
  border: solid 2px #eeeeee;
  background: linear-gradient(to left, #F66B0E, #FB8B35);
  transition: all 1s;
}

@media (min-width: 400px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 600px) {
  .container {
      padding-left: 6rem;
      padding-right: 6rem;
  }
}
@media (min-width: 1200px) {
  .photo {
    max-width: 30rem;
    height: 24rem;
}
}