.projects {
    position: relative;
    background-color: #112B3C;
    min-height: 100vh;

}
/* Content */
.container {
    position: relative;
    background-color: #112B3C;
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 500px) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 2rem;
    }
    .header {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-top: 3rem;
    }
}
@media (min-width: 600px) {
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
  }
@media (min-width: 700px) {
    .header {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media (min-width: 900px) {
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        top: 0;
        left: 0;
        position: relative;
        z-index: 2;
    }
}