.container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: relative;
    height: 22rem;
    width: 100%;
    border-radius: 1rem;
}
.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: relative;
    height: 22rem;
    width: 100%;
    border-radius: 1rem;
    border: solid 2px #eeeeee;
    overflow: hidden;
}
.imageContainer {
    max-height: 22rem;
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    transform-origin: center center;
    transition: all .5s;
    overflow: hidden;
    border-radius: 1rem;
}
.cardContainer:hover .imageContainer {
    transform: scale(1.2);
    transition: all .5s;
}
.cardContainer:hover .cardContent {
    background-color: #0b1c27e1;
    transition: all .75s;
}
.cardContainer:hover .titleContainer {
    transition: all .3s;
    scale: 1.05;
}
.cardContainer:hover .title {
    scale: 1.05;
    transition: all .3s;
    background: linear-gradient(to top, #F66B0E,#FB8B35);
    color: #eeeeee;
    border: 2px solid #eeeeee;
    cursor: pointer;
}
.cardContent {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #0b1c278c;
    transition: all .75s;
    overflow: hidden;
    border-radius: 1rem;
}
.title {
    color: #0b1c27ef;
    background-color: #eeeeee;
    border-radius: .5rem;
    padding: 1rem;
    transition: all .5s;
}
.photo {
    width: 100%;
    max-height: 22rem;
    object-position: center;
    border-radius: 1rem;
}
@media (min-width: 900px) and (max-width: 1251px) {
    .cardContent {
        padding: 0rem;
    }
}
@media (min-width: 1400px) {
    .container {
        min-width: 80rem;
    }
    .imageContainer {
        max-height: 24rem;
    }
    .photo {
        max-height: 24rem;
    }
    .cardContainer {
        height: 24rem;
    }
    .infoContainer {
        height: 24rem;
    }
}