.header {
    height: 5rem;
    background: linear-gradient(to left, #F66B0E, #FB8B35);
    border-radius: 0 0 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    border: 2px solid #eeeeee;
    background-color: #0b1c27;
    margin-bottom: 2rem;
}
.titleContainer {
    position: absolute;
    top: 3rem;
    z-index: 2;
    border: 2px solid #eeeeee;
    border-radius: 1rem;
    padding: .75rem;
    background-color: #0b1c27;
}
.title {
    color: #eeeeee;
    letter-spacing: .15rem;
}
.title::selection {
    color: #0b1c27;
    background-color: #eeeeee;
}
@media (max-width: 1200px) {
    .header {
        height: 6rem;
    }
    .titleContainer {
        position: absolute;
        top: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .header {
        height: 6rem;
    }
    .titleContainer {
        position: absolute;
        top: 3.5rem;
    }
}