.cardButtons {
    position: absolute;
    top: 10%;
    right: -1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}
.buttons {
    width: 100%;
    min-width: 7rem;
    background: linear-gradient(to top, #F66B0E,#FB8B35);
    border: solid 2px #eeeeee;
    border-radius: .5rem;
    z-index: 2;
}
.cardButtonsXl {
    position: absolute;
    top: 60%;
    right: -1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}
.buttonsXl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 7rem;
    background: linear-gradient(to top, #F66B0E,#FB8B35);
    color: #eeeeee;
    border: solid 2px #eeeeee;
    border-radius: .5rem;
    z-index: 2;
    height: 3rem;
}
.disabled {
    min-width: 7rem;
    color: #eeeeee;
    border: solid 2px #eeeeee;
    border-radius: .5rem;
    z-index: 2;
    background-color: #0b1c27;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}