.container {
  position: relative;
}
.iconsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -5.5rem;
  right: -1.8rem;
  z-index: 2;
  background-color: #0b1c27;
  border-radius: 1rem;
  gap: .5rem;
  border: solid 2px #eeeeee;
}
.icon {
  height: 2.5rem;
  width: 2.5rem;
  color: #eeeeee;
  transition: all .3s;
  border-radius: .5rem;
}
.icon:hover {
  background: linear-gradient(to left, #F66B0E, #FB8B35);
  border-radius: .5rem;
}
@media (max-width: 400px) {
  .iconsContainer {
    gap: .25rem;
    right: -1rem;
  }
}